[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
scikit-learn = "*"
jieba = "*"
pyldavis = "*"
pandas = "*"
bosonnlp = "*"
snownlp = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.6"
